---
- name: Check if k3d cluster andreas exists
  ansible.builtin.command: k3d cluster list -o json
  register: k3d_clusters
  changed_when: false

- name: Create k3d cluster andreas
  ansible.builtin.command: >
    k3d cluster create andreas
    --port "80:80@loadbalancer"
    --port "443:443@loadbalancer"
  when: "'andreas' not in (k3d_clusters.stdout | from_json | map(attribute='name') | list)"

- name: Switch kubectl context to k3d-andreas
  ansible.builtin.command: kubectl config use-context k3d-andreas
  changed_when: false
