---
- name: Check if namespace andreas exists
  ansible.builtin.command: kubectl get namespace andreas
  register: ns_check
  changed_when: false
  failed_when: false

- name: Create namespace andreas
  ansible.builtin.command: kubectl create namespace andreas
  when: ns_check.rc != 0

- name: Check if TLS secret exists
  ansible.builtin.command: kubectl get secret andreas-local-tls -n andreas
  register: tls_check
  changed_when: false
  failed_when: false

- name: Create TLS secret from certificates
  ansible.builtin.command: >
    kubectl create secret tls andreas-local-tls
    --cert={{ playbook_dir }}/../certs/andreas.local.pem
    --key={{ playbook_dir }}/../certs/andreas.local-key.pem
    -n andreas
  when: tls_check.rc != 0
